{"openapi":"3.1.0","info":{"title":"WorldMonitor API","description":"Unified OpenAPI bundle spanning all WorldMonitor services. Versioning and deprecation policy: https://www.worldmonitor.app/api-versioning.md (HTML: https://www.worldmonitor.app/docs/api-versioning)","contact":{"name":"WorldMonitor","email":"support@worldmonitor.app"},"version":"1.0.0"},"servers":[{"url":"https://api.worldmonitor.app"}],"security":[{"WorldMonitorKey":[]},{"ApiKeyHeader":[]}],"paths":{"/api/aviation/v1/list-airport-delays":{"get":{"tags":["AviationService"],"summary":"ListAirportDelays","description":"ListAirportDelays retrieves current airport delay alerts.","operationId":"ListAirportDelays","parameters":[{"$ref":"#/components/parameters/PagesizeParam"},{"$ref":"#/components/parameters/CursorParam"},{"name":"region","in":"query","description":"Optional region filter.\n Accepted but currently ignored; no-op until this handler supports the parameter.","required":false,"example":"AIRPORT_REGION_AMERICAS","schema":{"type":"string","enum":["AIRPORT_REGION_AMERICAS","AIRPORT_REGION_EUROPE","AIRPORT_REGION_APAC","AIRPORT_REGION_MENA","AIRPORT_REGION_AFRICA"]}},{"name":"min_severity","in":"query","description":"Optional minimum severity filter.\n Accepted but currently ignored; no-op until this handler supports the parameter.","required":false,"example":"FLIGHT_DELAY_SEVERITY_NORMAL","schema":{"type":"string","enum":["FLIGHT_DELAY_SEVERITY_NORMAL","FLIGHT_DELAY_SEVERITY_MINOR","FLIGHT_DELAY_SEVERITY_MODERATE","FLIGHT_DELAY_SEVERITY_MAJOR","FLIGHT_DELAY_SEVERITY_SEVERE","FLIGHT_DELAY_SEVERITY_UNKNOWN"]}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"alerts":[{"avgDelayMinutes":1,"cancelledFlights":1,"city":"example","country":"US","delayType":"FLIGHT_DELAY_TYPE_GROUND_STOP","id":"example-id"}],"pagination":{"nextCursor":"next-page-token","totalCount":1}},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_ListAirportDelaysResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/aviation/v1/get-airport-ops-summary":{"get":{"tags":["AviationService"],"summary":"GetAirportOpsSummary","description":"GetAirportOpsSummary returns watched-airport operational health, including delay percentages, average delay minutes, cancellation rates and closure status.","operationId":"GetAirportOpsSummary","parameters":[{"name":"airports","in":"query","description":"IATA airport codes to query (e.g., [\"IST\", \"ESB\", \"LHR\"]).","required":false,"style":"form","explode":true,"example":["JFK"],"schema":{"type":"array","items":{"type":"string"}}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"cacheHit":true,"summaries":[{"avgDelayMinutes":1,"cancellationRate":75.25,"closureStatus":true,"delayPct":1.5,"iata":"JFK"}]},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_GetAirportOpsSummaryResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/aviation/v1/list-airport-flights":{"get":{"tags":["AviationService"],"summary":"ListAirportFlights","description":"ListAirportFlights returns recent arrivals and departures with direction and limit filters, status and carrier. PRO-gated. Requires an active Pro subscription.","operationId":"ListAirportFlights","security":[{"WorldMonitorKey":[]},{"ApiKeyHeader":[]},{"BearerAuth":[]}],"parameters":[{"name":"airport","in":"query","description":"IATA airport code (e.g., \"IST\").","required":true,"example":"JFK","schema":{"type":"string"}},{"name":"direction","in":"query","description":"Direction filter.","required":false,"example":"FLIGHT_DIRECTION_DEPARTURE","schema":{"type":"string","enum":["FLIGHT_DIRECTION_DEPARTURE","FLIGHT_DIRECTION_ARRIVAL","FLIGHT_DIRECTION_BOTH"]}},{"name":"limit","in":"query","description":"Maximum number of flights to return (1-100).","required":false,"example":25,"schema":{"type":"integer","format":"int32"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"flights":[{"actualArrival":1,"actualDeparture":1,"aircraftIcao24":"a835af","aircraftType":"all","cancelled":true}],"source":"example","totalAvailable":1,"updatedAt":1717200000000},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_ListAirportFlightsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403_2"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/aviation/v1/get-carrier-ops":{"get":{"tags":["AviationService"],"summary":"GetCarrierOps","description":"GetCarrierOps returns delay and cancellation metrics grouped by carrier. PRO-gated. Requires an active Pro subscription.","operationId":"GetCarrierOps","security":[{"WorldMonitorKey":[]},{"ApiKeyHeader":[]},{"BearerAuth":[]}],"parameters":[{"name":"airports","in":"query","description":"IATA airport codes to aggregate carrier metrics from.","required":false,"style":"form","explode":true,"example":["JFK"],"schema":{"type":"array","items":{"type":"string"}}},{"name":"min_flights","in":"query","description":"Minimum number of flights required to include a carrier (default: 1).","required":false,"example":1,"schema":{"type":"integer","format":"int32"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"carriers":[{"airport":"JFK","avgDelayMinutes":1,"cancellationRate":75.25,"cancelledCount":1,"carrier":{"iataCode":"JFK","icaoCode":"example","name":"WorldMonitor Analyst"}}],"source":"example","updatedAt":1717200000000},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_GetCarrierOpsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403_2"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/aviation/v1/get-flight-status":{"get":{"tags":["AviationService"],"summary":"GetFlightStatus","description":"GetFlightStatus looks up the current status of a specific flight. PRO-gated. Requires an active Pro subscription.","operationId":"GetFlightStatus","security":[{"WorldMonitorKey":[]},{"ApiKeyHeader":[]},{"BearerAuth":[]}],"parameters":[{"name":"flight_number","in":"query","description":"IATA flight number (e.g., \"TK1952\").","required":true,"example":"JFK","schema":{"type":"string"}},{"name":"date","in":"query","description":"Departure date in ISO 8601 format (e.g., \"2026-03-05\").","required":true,"example":"2026-01-15","schema":{"type":"string"}},{"name":"origin","in":"query","description":"Optional origin airport IATA code to disambiguate.","required":false,"example":"JFK","schema":{"type":"string"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"cacheHit":true,"flights":[{"actualArrival":1,"actualDeparture":1,"aircraftIcao24":"a835af","aircraftType":"all","cancelled":true}],"source":"example"},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_GetFlightStatusResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403_2"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/aviation/v1/track-aircraft":{"get":{"tags":["AviationService"],"summary":"TrackAircraft","description":"TrackAircraft retrieves live position stream for a specific aircraft hex.","operationId":"TrackAircraft","parameters":[{"name":"icao24","in":"query","description":"ICAO 24-bit transponder address (hex, e.g., \"4b1805\").","required":false,"example":"a835af","schema":{"type":"string"}},{"name":"callsign","in":"query","description":"ATC callsign (e.g., \"THY7CX\").","required":false,"example":"example","schema":{"type":"string"}},{"name":"sw_lat","in":"query","description":"Optional bounding box south-west latitude.","required":false,"example":40.7128,"schema":{"type":"number","format":"double"}},{"name":"sw_lon","in":"query","description":"Optional bounding box south-west longitude.","required":false,"example":-74.006,"schema":{"type":"number","format":"double"}},{"name":"ne_lat","in":"query","description":"Optional bounding box north-east latitude.","required":false,"example":40.7128,"schema":{"type":"number","format":"double"}},{"name":"ne_lon","in":"query","description":"Optional bounding box north-east longitude.","required":false,"example":-74.006,"schema":{"type":"number","format":"double"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"positions":[{"altitudeM":1.5,"callsign":"example","groundSpeedKts":1.5,"icao24":"a835af","lat":40.7128}],"source":"example","updatedAt":1717200000000},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_TrackAircraftResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/aviation/v1/get-youtube-live-stream-info":{"get":{"tags":["AviationService"],"summary":"GetYoutubeLiveStreamInfo","description":"GetYoutubeLiveStreamInfo retrieves information about a YouTube live stream (status, title, etc).","operationId":"GetYoutubeLiveStreamInfo","parameters":[{"name":"channel","in":"query","description":"YouTube channel handle or ID.","required":false,"example":"example","schema":{"type":"string"}},{"name":"video_id","in":"query","description":"Specific video ID to check.","required":false,"example":"example-id","schema":{"type":"string"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"channelExists":true,"channelName":"WorldMonitor Analyst","error":"example","hlsUrl":"https://example.com/worldmonitor","isLive":true},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_GetYoutubeLiveStreamInfoResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/aviation/v1/search-flight-prices":{"get":{"tags":["AviationService"],"summary":"SearchFlightPrices","description":"SearchFlightPrices searches for flight price offers on a route. PRO-gated. Requires an active Pro subscription.","operationId":"SearchFlightPrices","security":[{"WorldMonitorKey":[]},{"ApiKeyHeader":[]},{"BearerAuth":[]}],"parameters":[{"name":"origin","in":"query","description":"Origin airport IATA code.","required":true,"example":"JFK","schema":{"type":"string"}},{"name":"destination","in":"query","description":"Destination airport IATA code.","required":true,"example":"LHR","schema":{"type":"string"}},{"name":"departure_date","in":"query","description":"Outbound departure date (ISO 8601).","required":true,"example":"2026-01-15","schema":{"type":"string"}},{"name":"return_date","in":"query","description":"Return date (ISO 8601), empty for one-way.","required":false,"example":"2026-01-15","schema":{"type":"string"}},{"name":"adults","in":"query","description":"Number of adult passengers (1-9).\n Accepted but currently ignored; quotes are per-person and the count does not filter.","required":false,"example":1,"schema":{"type":"integer","format":"int32"}},{"name":"cabin","in":"query","description":"Desired cabin class.","required":false,"example":"CABIN_CLASS_ECONOMY","schema":{"type":"string","enum":["CABIN_CLASS_ECONOMY","CABIN_CLASS_PREMIUM_ECONOMY","CABIN_CLASS_BUSINESS","CABIN_CLASS_FIRST"]}},{"name":"nonstop_only","in":"query","description":"Whether to restrict to nonstop flights only.","required":false,"example":true,"schema":{"type":"boolean"}},{"name":"max_results","in":"query","description":"Maximum number of quotes to return (1-50).","required":false,"example":1,"schema":{"type":"integer","format":"int32"}},{"name":"currency","in":"query","description":"ISO 4217 currency code for prices (e.g., \"usd\", \"eur\", \"try\").","required":false,"example":"USD","schema":{"type":"string"}},{"name":"market","in":"query","description":"Market/locale code (e.g., \"us\", \"tr\").","required":false,"example":"example","schema":{"type":"string"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"degraded":true,"error":"example","isDemoMode":true,"isIndicative":true,"provider":"worldmonitor"},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_SearchFlightPricesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403_2"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/aviation/v1/list-aviation-news":{"get":{"tags":["AviationService"],"summary":"ListAviationNews","description":"ListAviationNews retrieves filtered aviation news articles.","operationId":"ListAviationNews","parameters":[{"name":"entities","in":"query","description":"Entities to filter by (airline names, airport codes, route strings).","required":false,"style":"form","explode":true,"example":["example"],"schema":{"type":"array","items":{"type":"string"}}},{"name":"window_hours","in":"query","description":"Time window in hours to look back (1-168).","required":false,"example":1,"schema":{"type":"integer","format":"int32"}},{"name":"max_items","in":"query","description":"Maximum number of news items to return (1-50).","required":false,"example":1,"schema":{"type":"integer","format":"int32"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"items":[{"id":"example-id","imageUrl":"https://example.com/worldmonitor","matchedEntities":["example"],"publishedAt":1717200000000,"snippet":"example"}],"source":"example","updatedAt":1717200000000},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_ListAviationNewsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/aviation/v1/search-google-flights":{"get":{"tags":["AviationService"],"summary":"SearchGoogleFlights","description":"SearchGoogleFlights searches Google Flights for available itineraries on a specific date.","operationId":"SearchGoogleFlights","parameters":[{"$ref":"#/components/parameters/OriginParam"},{"$ref":"#/components/parameters/DestinationParam"},{"name":"departure_date","in":"query","description":"Departure date in YYYY-MM-DD format.","required":false,"example":"2026-01-15","schema":{"type":"string"}},{"name":"return_date","in":"query","description":"Return date in YYYY-MM-DD format; omit for one-way.","required":false,"example":"2026-01-15","schema":{"type":"string"}},{"$ref":"#/components/parameters/CabinclassParam"},{"$ref":"#/components/parameters/MaxstopsParam"},{"$ref":"#/components/parameters/DeparturewindowParam"},{"$ref":"#/components/parameters/AirlinesParam"},{"name":"sort_by","in":"query","description":"Sort order: CHEAPEST, DURATION, DEPARTURE_TIME, or ARRIVAL_TIME.","required":false,"example":"CHEAPEST","schema":{"type":"string"}},{"$ref":"#/components/parameters/PassengersParam"},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"degraded":true,"error":"example","flights":[{"durationMinutes":42,"legs":[{"airlineCode":"example","arrivalAirport":"example","arrivalDatetime":"2026-01-15","departureAirport":"example","departureDatetime":"2026-01-15"}],"price":75.25,"stops":1}]},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_SearchGoogleFlightsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/aviation/v1/search-google-dates":{"get":{"tags":["AviationService"],"summary":"SearchGoogleDates","description":"SearchGoogleDates finds the cheapest travel dates across a flexible date range via Google Flights.","operationId":"SearchGoogleDates","parameters":[{"$ref":"#/components/parameters/OriginParam"},{"$ref":"#/components/parameters/DestinationParam"},{"name":"start_date","in":"query","description":"Start of date range in YYYY-MM-DD format.","required":false,"example":"2026-01-15","schema":{"type":"string"}},{"name":"end_date","in":"query","description":"End of date range in YYYY-MM-DD format.","required":false,"example":"2026-01-15","schema":{"type":"string"}},{"name":"trip_duration","in":"query","description":"Trip duration in days (required for round-trip searches).","required":false,"example":42,"schema":{"type":"integer","format":"int32"}},{"name":"is_round_trip","in":"query","description":"Whether to search for round-trip flights.","required":false,"example":true,"schema":{"type":"boolean"}},{"$ref":"#/components/parameters/CabinclassParam"},{"$ref":"#/components/parameters/MaxstopsParam"},{"$ref":"#/components/parameters/DeparturewindowParam"},{"$ref":"#/components/parameters/AirlinesParam"},{"name":"sort_by_price","in":"query","description":"Whether to sort results by price (lowest first).","required":false,"example":true,"schema":{"type":"boolean"}},{"$ref":"#/components/parameters/PassengersParam"},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"dates":[{"date":"2026-01-15","price":75.25,"returnDate":"2026-01-15"}],"degraded":true,"error":"example"},"schema":{"$ref":"#/components/schemas/worldmonitor_aviation_v1_SearchGoogleDatesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/batch/v1/execute":{"post":{"parameters":[{"$ref":"#/components/parameters/IdempotencyKeyParam"}],"tags":["BatchService"],"summary":"ExecuteBatch","description":"ExecuteBatch runs a bulk batch of up to 20 read (GET) operations concurrently in one round trip and returns per-operation statuses and bodies. Use it instead of looping single calls when acting on many items; add a per-operation ?jmespath= projection to keep each body small.","operationId":"ExecuteBatch","requestBody":{"content":{"application/json":{"example":{"operations":[{"id":"example-id","path":"/api/market/v1/get-fear-greed-index"}]},"schema":{"$ref":"#/components/schemas/worldmonitor_batch_v1_ExecuteBatchRequest"}}},"required":true},"responses":{"200":{"description":"Successful response","headers":{"Idempotency-Key":{"$ref":"#/components/headers/IdempotencyKeyHeader"},"Idempotent-Replayed":{"$ref":"#/components/headers/IdempotentReplayedHeader"}},"content":{"application/json":{"example":{"failed":1,"results":[{"body":{},"error":"example","id":"example-id","status":1}],"succeeded":1},"schema":{"$ref":"#/components/schemas/worldmonitor_batch_v1_ExecuteBatchResponse"}}}},"400":{"$ref":"#/components/responses/E400_2"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"409":{"$ref":"#/components/responses/E409"},"422":{"$ref":"#/components/responses/E422"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/climate/v1/list-climate-anomalies":{"get":{"tags":["ClimateService"],"summary":"ListClimateAnomalies","description":"ListClimateAnomalies retrieves temperature and precipitation anomalies from ERA5 data.","operationId":"ListClimateAnomalies","parameters":[{"$ref":"#/components/parameters/PagesizeParam"},{"$ref":"#/components/parameters/CursorParam"},{"name":"min_severity","in":"query","description":"Optional filter by anomaly severity.\n Accepted but currently ignored; no-op until this handler supports the parameter.","required":false,"example":"ANOMALY_SEVERITY_NORMAL","schema":{"type":"string","enum":["ANOMALY_SEVERITY_NORMAL","ANOMALY_SEVERITY_MODERATE","ANOMALY_SEVERITY_EXTREME"]}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"anomalies":[{"location":{"latitude":40.7128,"longitude":-74.006},"period":"daily","precipDelta":1.5,"severity":"ANOMALY_SEVERITY_NORMAL","tempDelta":1.5,"type":"ANOMALY_TYPE_WARM","zone":"example"}],"pagination":{"nextCursor":"next-page-token","totalCount":1}},"schema":{"$ref":"#/components/schemas/worldmonitor_climate_v1_ListClimateAnomaliesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/climate/v1/list-climate-disasters":{"get":{"tags":["ClimateService"],"summary":"ListClimateDisasters","description":"ListClimateDisasters retrieves climate-relevant disaster events from seeded data.","operationId":"ListClimateDisasters","parameters":[{"$ref":"#/components/parameters/PagesizeParam2"},{"$ref":"#/components/parameters/CursorParam2"},{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"disasters":[{"affectedPopulation":1,"country":"US","countryCode":"US","id":"example-id","lat":40.7128}],"pagination":{"nextCursor":"next-page-token","totalCount":1}},"schema":{"$ref":"#/components/schemas/worldmonitor_climate_v1_ListClimateDisastersResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/climate/v1/get-co2-monitoring":{"get":{"tags":["ClimateService"],"summary":"GetCo2Monitoring","description":"GetCo2Monitoring retrieves seeded NOAA greenhouse gas monitoring data.","operationId":"GetCo2Monitoring","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"monitoring":{"annualGrowthRate":75.25,"currentPpm":1.5,"measuredAt":"1717200000000","methanePpb":1.5,"monthlyAverage":1.5}},"schema":{"$ref":"#/components/schemas/worldmonitor_climate_v1_GetCo2MonitoringResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/climate/v1/get-ocean-ice-data":{"get":{"tags":["ClimateService"],"summary":"GetOceanIceData","description":"GetOceanIceData retrieves seeded Arctic sea ice, sea level, and ocean heat indicators.","operationId":"GetOceanIceData","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"data":{"arcticExtentAnomalyMkm2":1.5,"arcticExtentMkm2":1.5,"arcticTrend":"example","iceTrend12m":[{"anomalyMkm2":1.5,"extentMkm2":1.5,"month":"example"}],"measuredAt":1717200000000}},"schema":{"$ref":"#/components/schemas/worldmonitor_climate_v1_GetOceanIceDataResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/climate/v1/list-air-quality-data":{"get":{"tags":["ClimateService"],"summary":"ListAirQualityData","description":"ListAirQualityData retrieves recent PM2.5 station data from the shared air-quality seed.","operationId":"ListAirQualityData","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"fetchedAt":1717200000000,"stations":[{"aqi":1,"city":"example","countryCode":"US","lat":40.7128,"lng":-74.006}]},"schema":{"$ref":"#/components/schemas/worldmonitor_climate_v1_ListAirQualityDataResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/climate/v1/list-climate-news":{"get":{"tags":["ClimateService"],"summary":"ListClimateNews","description":"ListClimateNews retrieves latest climate/environment intelligence headlines from seeded RSS feeds.\n Empty items with fetched_at=0 or data_available=false means the seed snapshot\n is unavailable/degraded, not that there are confirmed zero headlines.","operationId":"ListClimateNews","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"dataAvailable":true,"fetchedAt":1717200000000,"items":[{"id":"example-id","publishedAt":1717200000000,"sourceName":"WorldMonitor Analyst","summary":"Example WorldMonitor observation.","title":"example"}]},"schema":{"$ref":"#/components/schemas/worldmonitor_climate_v1_ListClimateNewsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/company-monitoring/v1/create-monitored-company":{"post":{"parameters":[{"$ref":"#/components/parameters/IdempotencyKeyParam"}],"tags":["CompanyMonitoringService"],"summary":"CreateMonitoredCompany","description":"Creates an account-scoped monitored-company record. Requires company_monitoring:write; runtime remains disabled until dependency #6003 passes.","operationId":"CreateMonitoredCompany","requestBody":{"content":{"application/json":{"example":{"clientRequestId":"example-id","company":{"aliases":["example"],"customerReference":"example","domains":["example.com"],"domicileCountry":"DOMICILE_COUNTRY_US","identifiers":["example-id"],"locations":["example"],"name":"WorldMonitor Analyst"}},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_CreateMonitoredCompanyRequest"}}},"required":true},"responses":{"200":{"description":"Successful response","headers":{"Idempotency-Key":{"$ref":"#/components/headers/IdempotencyKeyHeader"},"Idempotent-Replayed":{"$ref":"#/components/headers/IdempotentReplayedHeader"}},"content":{"application/json":{"example":{"company":{"canonicalUrl":"https://example.com/worldmonitor","claims":[{"allowedUses":["COMPANY_CLAIM_ALLOWED_USE_DISCOVERY"],"claimId":"cm_claim_01ARZ3NDEKTSV4RRFFQ69G5FAV","expiresAt":"2026-01-15T12:00:00Z","provenance":"example","trustState":"COMPANY_CLAIM_TRUST_STATE_DECLARED"}],"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","coverage":"COMPANY_COVERAGE_STATE_AWAITING_FIRST_SCAN","createdAt":"2026-01-15T12:00:00Z"}},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_CreateMonitoredCompanyResponse"}}}},"400":{"$ref":"#/components/responses/E400_2"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"409":{"$ref":"#/components/responses/E409"},"422":{"$ref":"#/components/responses/E422"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/company-monitoring/v1/update-monitored-company":{"post":{"parameters":[{"$ref":"#/components/parameters/IdempotencyKeyParam"}],"tags":["CompanyMonitoringService"],"summary":"UpdateMonitoredCompany","description":"Applies a bounded patch to an account-scoped monitored-company record. Requires company_monitoring:write; runtime remains disabled until dependency #6003 passes.","operationId":"UpdateMonitoredCompany","requestBody":{"content":{"application/json":{"example":{"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","patch":{"addClaims":[{"type":"COMPANY_CLAIM_TYPE_ALIAS","value":"example"}],"customerReference":"example","domicileCountry":"DOMICILE_COUNTRY_US","name":"WorldMonitor Analyst","removeClaimIds":["cm_claim_01ARZ3NDEKTSV4RRFFQ69G5FAV"]}},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_UpdateMonitoredCompanyRequest"}}},"required":true},"responses":{"200":{"description":"Successful response","headers":{"Idempotency-Key":{"$ref":"#/components/headers/IdempotencyKeyHeader"},"Idempotent-Replayed":{"$ref":"#/components/headers/IdempotentReplayedHeader"}},"content":{"application/json":{"example":{"company":{"canonicalUrl":"https://example.com/worldmonitor","claims":[{"allowedUses":["COMPANY_CLAIM_ALLOWED_USE_DISCOVERY"],"claimId":"cm_claim_01ARZ3NDEKTSV4RRFFQ69G5FAV","expiresAt":"2026-01-15T12:00:00Z","provenance":"example","trustState":"COMPANY_CLAIM_TRUST_STATE_DECLARED"}],"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","coverage":"COMPANY_COVERAGE_STATE_AWAITING_FIRST_SCAN","createdAt":"2026-01-15T12:00:00Z"}},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_UpdateMonitoredCompanyResponse"}}}},"400":{"$ref":"#/components/responses/E400_2"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"409":{"$ref":"#/components/responses/E409"},"422":{"$ref":"#/components/responses/E422"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/company-monitoring/v1/set-monitored-company-state":{"post":{"parameters":[{"$ref":"#/components/parameters/IdempotencyKeyParam"}],"tags":["CompanyMonitoringService"],"summary":"SetMonitoredCompanyState","description":"Transitions an account-scoped monitored company between active, paused, and removed states. Requires company_monitoring:write; runtime remains disabled until dependency #6003 passes.","operationId":"SetMonitoredCompanyState","requestBody":{"content":{"application/json":{"example":{"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","targetLifecycle":"MONITORED_COMPANY_LIFECYCLE_ACTIVE"},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_SetMonitoredCompanyStateRequest"}}},"required":true},"responses":{"200":{"description":"Successful response","headers":{"Idempotency-Key":{"$ref":"#/components/headers/IdempotencyKeyHeader"},"Idempotent-Replayed":{"$ref":"#/components/headers/IdempotentReplayedHeader"}},"content":{"application/json":{"example":{"company":{"canonicalUrl":"https://example.com/worldmonitor","claims":[{"allowedUses":["COMPANY_CLAIM_ALLOWED_USE_DISCOVERY"],"claimId":"cm_claim_01ARZ3NDEKTSV4RRFFQ69G5FAV","expiresAt":"2026-01-15T12:00:00Z","provenance":"example","trustState":"COMPANY_CLAIM_TRUST_STATE_DECLARED"}],"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","coverage":"COMPANY_COVERAGE_STATE_AWAITING_FIRST_SCAN","createdAt":"2026-01-15T12:00:00Z"},"snapshotRequired":true},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_SetMonitoredCompanyStateResponse"}}}},"400":{"$ref":"#/components/responses/E400_2"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"409":{"$ref":"#/components/responses/E409"},"422":{"$ref":"#/components/responses/E422"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/company-monitoring/v1/import-monitored-company-batch":{"post":{"tags":["CompanyMonitoringService"],"summary":"ImportMonitoredCompanyBatch","description":"Imports up to 100 normalized account-scoped company rows with deterministic per-row outcomes. Requires company_monitoring:write; runtime remains disabled until dependency #6003 passes.","operationId":"ImportMonitoredCompanyBatch","requestBody":{"content":{"application/json":{"example":{"clientImportId":"example-id","contractVersion":"cm-import-v1","rows":[{"company":{"aliases":["example"],"customerReference":"example","domains":["example.com"],"domicileCountry":"DOMICILE_COUNTRY_US","identifiers":["example-id"],"locations":["example"],"name":"WorldMonitor Analyst"},"ordinal":0}]},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_ImportMonitoredCompanyBatchRequest"}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"createdCount":1,"rejectedCount":1,"replayedCount":1,"results":[{"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","ordinal":0,"outcome":"COMPANY_IMPORT_ROW_OUTCOME_CREATED","reasonCode":"example"}]},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_ImportMonitoredCompanyBatchResponse"}}}},"400":{"description":"Validation error or malformed JSON request body","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/InvalidRequestBodyError"}]}}}},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/company-monitoring/v1/list-monitored-companies":{"get":{"tags":["CompanyMonitoringService"],"summary":"ListMonitoredCompanies","description":"Lists account-scoped monitored companies at a signed snapshot boundary. Requires company_monitoring:read; runtime remains disabled until dependency #6003 passes.","operationId":"ListMonitoredCompanies","parameters":[{"name":"lifecycle","in":"query","description":"Accepted values are active, paused, and removed.","required":false,"style":"form","explode":true,"example":["active"],"schema":{"type":"array","items":{"type":"string","pattern":"^(?:active|paused|removed|MONITORED_COMPANY_LIFECYCLE_(?:ACTIVE|PAUSED|REMOVED))$","description":"Accepted values are active, paused, and removed."}}},{"name":"coverage","in":"query","description":"Accepted values are awaiting_first_scan, adequate, partial, stale, unavailable, and needs_confirmation.","required":false,"style":"form","explode":true,"example":["awaiting_first_scan"],"schema":{"type":"array","items":{"type":"string","pattern":"^(?:awaiting_first_scan|adequate|partial|stale|unavailable|needs_confirmation|COMPANY_COVERAGE_STATE_(?:AWAITING_FIRST_SCAN|ADEQUATE|PARTIAL|STALE|UNAVAILABLE|NEEDS_CONFIRMATION))$","description":"Accepted values are awaiting_first_scan, adequate, partial, stale, unavailable, and needs_confirmation."}}},{"$ref":"#/components/parameters/PagesizeParam3"},{"$ref":"#/components/parameters/CursorParam3"},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"companies":[{"canonicalUrl":"https://example.com/worldmonitor","claims":[{"allowedUses":["COMPANY_CLAIM_ALLOWED_USE_DISCOVERY"],"claimId":"cm_claim_01ARZ3NDEKTSV4RRFFQ69G5FAV","expiresAt":"2026-01-15T12:00:00Z","provenance":"example","trustState":"COMPANY_CLAIM_TRUST_STATE_DECLARED"}],"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","coverage":"COMPANY_COVERAGE_STATE_AWAITING_FIRST_SCAN","createdAt":"2026-01-15T12:00:00Z"}],"nextCursor":"cmc1.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb","snapshot":{"pollCursor":"cmc1.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb","snapshotAsOf":"example","snapshotGeneration":"1717200000000"}},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_ListMonitoredCompaniesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/company-monitoring/v1/list-company-event-impacts":{"get":{"tags":["CompanyMonitoringService"],"summary":"ListCompanyEventImpacts","description":"Lists account-scoped material impacts with independent direction, confidence, and lifecycle fields. Requires company_monitoring:read; runtime remains disabled until dependency #6003 passes.","operationId":"ListCompanyEventImpacts","parameters":[{"name":"company_id","in":"query","description":"Account-scoped logical company IDs to include; storage identifiers are not accepted.","required":false,"style":"form","explode":true,"example":["cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV"],"schema":{"type":"array","items":{"type":"string","pattern":"^cm_company_[0-9A-HJKMNP-TV-Z]{26}$"}}},{"name":"direction","in":"query","description":"Accepted values are positive, negative, and mixed.","required":false,"style":"form","explode":true,"example":["positive"],"schema":{"type":"array","items":{"type":"string","pattern":"^(?:positive|negative|mixed|MATERIAL_IMPACT_DIRECTION_(?:POSITIVE|NEGATIVE|MIXED))$","description":"Accepted values are positive, negative, and mixed."}}},{"name":"lifecycle","in":"query","description":"Accepted values are admitted, corrected, and retracted.","required":false,"style":"form","explode":true,"example":["admitted"],"schema":{"type":"array","items":{"type":"string","pattern":"^(?:admitted|corrected|retracted|MATERIAL_IMPACT_LIFECYCLE_(?:ADMITTED|CORRECTED|RETRACTED))$","description":"Accepted values are admitted, corrected, and retracted."}}},{"$ref":"#/components/parameters/PagesizeParam3"},{"$ref":"#/components/parameters/CursorParam3"},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"impacts":[{"canonicalUrl":"https://example.com/worldmonitor","changedAt":"2026-01-15T12:00:00Z","channels":["MATERIAL_IMPACT_CHANNEL_REPUTATION"],"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","confidence":{"attribution":1,"materialImpact":1,"occurrenceTruth":1,"overall":1}}],"nextCursor":"cmc1.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb","snapshot":{"pollCursor":"cmc1.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb","snapshotAsOf":"example","snapshotGeneration":"1717200000000"}},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_ListCompanyEventImpactsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/company-monitoring/v1/list-company-event-changes":{"get":{"tags":["CompanyMonitoringService"],"summary":"ListCompanyEventChanges","description":"Polls account-scoped material-impact changes from a signed opaque cursor. Requires company_monitoring:read; runtime remains disabled until dependency #6003 passes.","operationId":"ListCompanyEventChanges","parameters":[{"name":"cursor","in":"query","description":"Required signed opaque poll cursor bound to the account, mode, expiry, and snapshot generation; never a storage identifier.","required":true,"example":"cmc1.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb","schema":{"type":"string","pattern":"^cmc1\\.[A-Za-z0-9_-]{16,1000}[A-Za-z0-9_-]{0,536}\\.[A-Za-z0-9_-]{43}$"}},{"name":"page_size","in":"query","description":"Maximum changes to return, from 1 through 100; zero requests the server default.","required":false,"example":25,"schema":{"type":"integer","format":"int32"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"impacts":[{"canonicalUrl":"https://example.com/worldmonitor","changedAt":"2026-01-15T12:00:00Z","channels":["MATERIAL_IMPACT_CHANNEL_REPUTATION"],"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","confidence":{"attribution":1,"materialImpact":1,"occurrenceTruth":1,"overall":1}}],"nextCursor":"cmc1.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb","pollState":"COMPANY_EVENT_POLL_STATE_CURRENT"},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_ListCompanyEventChangesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/company-monitoring/v1/get-company-material-event":{"get":{"tags":["CompanyMonitoringService"],"summary":"GetCompanyMaterialEvent","description":"Returns one account-scoped material event, its impact, and bounded evidence references. Requires company_monitoring:read; runtime remains disabled until dependency #6003 passes.","operationId":"GetCompanyMaterialEvent","parameters":[{"name":"impact_id","in":"query","description":"Account-scoped logical impact ID; storage identifiers are not accepted.","required":true,"example":"cm_impact_01ARZ3NDEKTSV4RRFFQ69G5FAV","schema":{"type":"string","pattern":"^cm_impact_[0-9A-HJKMNP-TV-Z]{26}$"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"event":{"canonicalUrl":"https://example.com/worldmonitor","category":"cs.AI","eventId":"cm_event_01ARZ3NDEKTSV4RRFFQ69G5FAV","lifecycle":"MATERIAL_IMPACT_LIFECYCLE_ADMITTED","occurredAt":"2026-01-15T12:00:00Z"},"evidence":[{"authorityTier":"EVIDENCE_AUTHORITY_TIER_PRIMARY_VERIFIED","canonicalUrl":"https://example.com/worldmonitor","evidenceId":"cm_evidence_01ARZ3NDEKTSV4RRFFQ69G5FAV","excerpt":"example","provider":"MONITORING_PROVIDER_EXA"}],"evidenceTotalCount":1,"evidenceTruncated":true,"impact":{"canonicalUrl":"https://example.com/worldmonitor","changedAt":"2026-01-15T12:00:00Z","channels":["MATERIAL_IMPACT_CHANNEL_REPUTATION"],"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","confidence":{"attribution":1,"materialImpact":1,"occurrenceTruth":1,"overall":1}}},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_GetCompanyMaterialEventResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/company-monitoring/v1/get-company-coverage":{"get":{"tags":["CompanyMonitoringService"],"summary":"GetCompanyCoverage","description":"Returns the current coverage state for one account-scoped monitored company. Requires company_monitoring:read; runtime remains disabled until dependency #6003 passes.","operationId":"GetCompanyCoverage","parameters":[{"name":"company_id","in":"query","description":"Account-scoped logical company ID; storage identifiers are not accepted.","required":true,"example":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","schema":{"type":"string","pattern":"^cm_company_[0-9A-HJKMNP-TV-Z]{26}$"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"companyId":"cm_company_01ARZ3NDEKTSV4RRFFQ69G5FAV","coverage":{"assessmentReady":true,"changedAt":"2026-01-15T12:00:00Z","observation":"COMPANY_OBSERVATION_STATE_EVENTS_OBSERVED","providers":[{"capped":true,"fresh":true,"provider":"MONITORING_PROVIDER_EXA","reasonCode":"example","returnedWindowEnd":"example"}],"state":"COMPANY_COVERAGE_STATE_AWAITING_FIRST_SCAN"}},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_GetCompanyCoverageResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/company-monitoring/v1/get-company-monitoring-status":{"get":{"tags":["CompanyMonitoringService"],"summary":"GetCompanyMonitoringStatus","description":"Returns account-scoped limits, snapshot generation, access state, and independent feature flags. Requires company_monitoring:read; runtime remains disabled until dependency #6003 passes.","operationId":"GetCompanyMonitoringStatus","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"accessState":"COMPANY_MONITORING_ACCESS_STATE_DISABLED","companyCount":1,"companyLimit":500,"featureFlags":{"alerts":false,"exaProvider":false,"publication":false,"restWrites":false,"ui":false},"snapshotGeneration":"1717200000000"},"schema":{"$ref":"#/components/schemas/worldmonitor_company_monitoring_v1_GetCompanyMonitoringStatusResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/conflict/v1/list-acled-events":{"get":{"tags":["ConflictService"],"summary":"ListAcledEvents","description":"ListAcledEvents retrieves ACLED armed-conflict events with country, location, actors, event type and fatalities, filterable by country and inclusive time range.","operationId":"ListAcledEvents","security":[],"parameters":[{"$ref":"#/components/parameters/StartParam"},{"$ref":"#/components/parameters/EndParam"},{"$ref":"#/components/parameters/PagesizeParam"},{"$ref":"#/components/parameters/CursorParam"},{"$ref":"#/components/parameters/CountryParam"},{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"events":[{"actors":["example"],"admin1":"example","country":"US","eventType":"all","fatalities":1,"id":"example-id"}],"pagination":{"nextCursor":"next-page-token","totalCount":1}},"schema":{"$ref":"#/components/schemas/worldmonitor_conflict_v1_ListAcledEventsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"429":{"$ref":"#/components/responses/E429"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/conflict/v1/list-ucdp-events":{"get":{"tags":["ConflictService"],"summary":"ListUcdpEvents","description":"ListUcdpEvents retrieves georeferenced violence events from the UCDP dataset.","operationId":"ListUcdpEvents","parameters":[{"$ref":"#/components/parameters/StartParam2"},{"$ref":"#/components/parameters/EndParam2"},{"$ref":"#/components/parameters/PagesizeParam"},{"$ref":"#/components/parameters/CursorParam"},{"$ref":"#/components/parameters/CountryParam"},{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"events":[{"country":"US","dateEnd":1,"dateStart":1,"deathsBest":1,"deathsHigh":1,"id":"example-id"}],"pagination":{"nextCursor":"next-page-token","totalCount":1}},"schema":{"$ref":"#/components/schemas/worldmonitor_conflict_v1_ListUcdpEventsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/conflict/v1/get-humanitarian-summary":{"get":{"tags":["ConflictService"],"summary":"GetHumanitarianSummary","description":"GetHumanitarianSummary retrieves a humanitarian overview for a country from HAPI/HDX.","operationId":"GetHumanitarianSummary","parameters":[{"name":"country_code","in":"query","description":"ISO 3166-1 alpha-2 country code (e.g., \"YE\", \"SD\", \"SO\").","required":true,"example":"AD","schema":{"type":"string","enum":["AD","AE","AF","AG","AI","AL","AM","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BR","BS","BT","BW","BY","BZ","CA","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CU","CV","CW","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GG","GH","GI","GL","GM","GN","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SH","SI","SK","SL","SM","SN","SO","SR","SS","ST","SV","SX","SY","SZ","TC","TD","TF","TG","TH","TJ","TL","TM","TN","TO","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","XK","YE","ZA","ZM","ZW"]}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"summary":{"conflictDemonstrations":42,"conflictEventsTotal":1,"conflictFatalities":1,"conflictPoliticalViolenceEvents":1,"countryCode":"US"}},"schema":{"$ref":"#/components/schemas/worldmonitor_conflict_v1_GetHumanitarianSummaryResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/conflict/v1/list-iran-events":{"get":{"tags":["ConflictService"],"summary":"ListIranEvents","description":"ListIranEvents is disabled by default; enable IRAN_EVENTS_ENABLED to return cached LiveUAMap Iran conflict records, otherwise an empty list with scrapedAt zero.","operationId":"ListIranEvents","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"events":[{"category":"cs.AI","id":"example-id","latitude":40.7128,"locationName":"WorldMonitor Analyst","longitude":-74.006}],"scrapedAt":"1717200000000"},"schema":{"$ref":"#/components/schemas/worldmonitor_conflict_v1_ListIranEventsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/conflict/v1/get-humanitarian-summary-batch":{"post":{"parameters":[{"$ref":"#/components/parameters/IdempotencyKeyParam"}],"tags":["ConflictService"],"summary":"GetHumanitarianSummaryBatch","description":"GetHumanitarianSummaryBatch retrieves humanitarian summaries for multiple countries in one call.","operationId":"GetHumanitarianSummaryBatch","requestBody":{"content":{"application/json":{"example":{"countryCodes":["US"]},"schema":{"$ref":"#/components/schemas/worldmonitor_conflict_v1_GetHumanitarianSummaryBatchRequest"}}},"required":true},"responses":{"200":{"description":"Successful response","headers":{"Idempotency-Key":{"$ref":"#/components/headers/IdempotencyKeyHeader"},"Idempotent-Replayed":{"$ref":"#/components/headers/IdempotentReplayedHeader"}},"content":{"application/json":{"example":{"fetched":1,"requested":1,"results":{"exampleKey":{"conflictDemonstrations":42,"conflictEventsTotal":1,"conflictFatalities":1,"conflictPoliticalViolenceEvents":1,"countryCode":"US"}}},"schema":{"$ref":"#/components/schemas/worldmonitor_conflict_v1_GetHumanitarianSummaryBatchResponse"}}}},"400":{"$ref":"#/components/responses/E400_2"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"409":{"$ref":"#/components/responses/E409"},"422":{"$ref":"#/components/responses/E422"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/consumer-prices/v1/get-consumer-price-overview":{"get":{"tags":["ConsumerPricesService"],"summary":"GetConsumerPriceOverview","description":"GetConsumerPriceOverview retrieves headline basket indices and coverage metrics.","operationId":"GetConsumerPriceOverview","parameters":[{"name":"market_code","in":"query","description":"market_code is the ISO 3166-1 alpha-2 market identifier (e.g. \"ae\").","required":false,"example":"US","schema":{"type":"string"}},{"name":"basket_slug","in":"query","description":"basket_slug selects which basket to use (e.g. \"essentials-ae\").","required":false,"example":"essentials-ae","schema":{"type":"string"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"asOf":"1717200000000","coveragePct":1.5,"currencyCode":"USD","essentialsIndex":1.5,"freshnessLagMin":1},"schema":{"$ref":"#/components/schemas/worldmonitor_consumer_prices_v1_GetConsumerPriceOverviewResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/consumer-prices/v1/get-consumer-price-basket-series":{"get":{"tags":["ConsumerPricesService"],"summary":"GetConsumerPriceBasketSeries","description":"GetConsumerPriceBasketSeries retrieves the basket index time series.","operationId":"GetConsumerPriceBasketSeries","parameters":[{"$ref":"#/components/parameters/MarketcodeParam"},{"name":"basket_slug","in":"query","description":"basket_slug selects the basket (e.g. \"essentials-ae\").","required":false,"example":"essentials-ae","schema":{"type":"string"}},{"$ref":"#/components/parameters/RangeParam"},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"asOf":"1717200000000","basketSlug":"essentials-ae","currencyCode":"USD","essentialsSeries":[{"date":"2026-01-15","index":1.5}],"marketCode":"US"},"schema":{"$ref":"#/components/schemas/worldmonitor_consumer_prices_v1_GetConsumerPriceBasketSeriesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/consumer-prices/v1/list-consumer-price-categories":{"get":{"tags":["ConsumerPricesService"],"summary":"ListConsumerPriceCategories","description":"ListConsumerPriceCategories retrieves category summaries with sparklines.","operationId":"ListConsumerPriceCategories","parameters":[{"$ref":"#/components/parameters/MarketcodeParam"},{"name":"basket_slug","in":"query","description":"basket_slug selects the basket scope.","required":false,"example":"essentials-ae","schema":{"type":"string"}},{"$ref":"#/components/parameters/RangeParam"},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"asOf":"1717200000000","categories":[{"coveragePct":1.5,"currentIndex":1.5,"itemCount":1,"momPct":1.5,"name":"WorldMonitor Analyst"}],"marketCode":"US","range":"7d","upstreamUnavailable":false},"schema":{"$ref":"#/components/schemas/worldmonitor_consumer_prices_v1_ListConsumerPriceCategoriesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/consumer-prices/v1/list-consumer-price-movers":{"get":{"tags":["ConsumerPricesService"],"summary":"ListConsumerPriceMovers","description":"ListConsumerPriceMovers retrieves the largest upward and downward item price moves.","operationId":"ListConsumerPriceMovers","parameters":[{"$ref":"#/components/parameters/MarketcodeParam"},{"name":"range","in":"query","description":"range is one of \"7d\", \"30d\", \"90d\".","required":false,"example":"7d","schema":{"type":"string"}},{"name":"limit","in":"query","description":"limit caps the number of risers and fallers returned.","required":true,"example":25,"schema":{"type":"integer","format":"int32"}},{"name":"category_slug","in":"query","description":"category_slug filters to a single category when set.","required":false,"example":"cs.AI","schema":{"type":"string"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"asOf":"1717200000000","fallers":[{"category":"cs.AI","changePct":1.5,"currencyCode":"USD","currentPrice":75.25,"productId":"diesel"}],"marketCode":"US","range":"7d","risers":[{"category":"cs.AI","changePct":1.5,"currencyCode":"USD","currentPrice":75.25,"productId":"diesel"}]},"schema":{"$ref":"#/components/schemas/worldmonitor_consumer_prices_v1_ListConsumerPriceMoversResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/consumer-prices/v1/list-retailer-price-spreads":{"get":{"tags":["ConsumerPricesService"],"summary":"ListRetailerPriceSpreads","description":"ListRetailerPriceSpreads retrieves cheapest-basket comparisons across retailers.","operationId":"ListRetailerPriceSpreads","parameters":[{"$ref":"#/components/parameters/MarketcodeParam"},{"name":"basket_slug","in":"query","description":"basket_slug selects which basket to compare across retailers.","required":false,"example":"essentials-ae","schema":{"type":"string"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"asOf":"1717200000000","basketSlug":"essentials-ae","currencyCode":"USD","marketCode":"US","retailers":[{"basketTotal":1,"currencyCode":"USD","deltaVsCheapest":1.5,"deltaVsCheapestPct":1.5,"freshnessMin":1}]},"schema":{"$ref":"#/components/schemas/worldmonitor_consumer_prices_v1_ListRetailerPriceSpreadsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/consumer-prices/v1/get-consumer-price-freshness":{"get":{"tags":["ConsumerPricesService"],"summary":"GetConsumerPriceFreshness","description":"GetConsumerPriceFreshness retrieves feed freshness and coverage health per retailer.","operationId":"GetConsumerPriceFreshness","parameters":[{"$ref":"#/components/parameters/MarketcodeParam"},{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"asOf":"1717200000000","marketCode":"US","overallFreshnessMin":1,"retailers":[{"freshnessMin":1,"lastRunAt":"1717200000000","name":"WorldMonitor Analyst","parseSuccessRate":75.25,"slug":"example"}],"stalledCount":1},"schema":{"$ref":"#/components/schemas/worldmonitor_consumer_prices_v1_GetConsumerPriceFreshnessResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/cyber/v1/list-cyber-threats":{"get":{"tags":["CyberService"],"summary":"ListCyberThreats","description":"ListCyberThreats retrieves threat indicators from multiple intelligence sources.","operationId":"ListCyberThreats","parameters":[{"$ref":"#/components/parameters/StartParam2"},{"$ref":"#/components/parameters/EndParam2"},{"$ref":"#/components/parameters/PagesizeParam2"},{"$ref":"#/components/parameters/CursorParam2"},{"name":"type","in":"query","description":"Optional threat type filter.","required":false,"example":"CYBER_THREAT_TYPE_C2_SERVER","schema":{"type":"string","enum":["CYBER_THREAT_TYPE_C2_SERVER","CYBER_THREAT_TYPE_MALWARE_HOST","CYBER_THREAT_TYPE_PHISHING","CYBER_THREAT_TYPE_MALICIOUS_URL"]}},{"name":"source","in":"query","description":"Optional source filter.","required":false,"example":"CYBER_THREAT_SOURCE_FEODO","schema":{"type":"string","enum":["CYBER_THREAT_SOURCE_FEODO","CYBER_THREAT_SOURCE_URLHAUS","CYBER_THREAT_SOURCE_C2INTEL","CYBER_THREAT_SOURCE_OTX","CYBER_THREAT_SOURCE_ABUSEIPDB"]}},{"name":"min_severity","in":"query","description":"Optional minimum criticality filter.","required":false,"example":"CRITICALITY_LEVEL_LOW","schema":{"type":"string","enum":["CRITICALITY_LEVEL_LOW","CRITICALITY_LEVEL_MEDIUM","CRITICALITY_LEVEL_HIGH","CRITICALITY_LEVEL_CRITICAL"]}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"pagination":{"nextCursor":"next-page-token","totalCount":1},"threats":[{"country":"US","firstSeenAt":1717200000000,"id":"example-id","indicator":"example","indicatorType":"CYBER_THREAT_INDICATOR_TYPE_IP","lastSeenAt":1717200000000}]},"schema":{"$ref":"#/components/schemas/worldmonitor_cyber_v1_ListCyberThreatsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/displacement/v1/get-displacement-summary":{"get":{"tags":["DisplacementService"],"summary":"GetDisplacementSummary","description":"GetDisplacementSummary retrieves global refugee and IDP statistics from UNHCR.\n Empty/absent summary with fetched_at=0 or data_available=false means the\n snapshot is unavailable/degraded, not that global displacement is zero.","operationId":"GetDisplacementSummary","parameters":[{"name":"year","in":"query","description":"Data year to retrieve (e.g., 2023). Uses latest available if zero.","required":false,"example":1,"schema":{"type":"integer","format":"int32"}},{"name":"country_limit","in":"query","description":"Maximum number of country entries to return.","required":false,"example":25,"schema":{"type":"integer","format":"int32"}},{"name":"flow_limit","in":"query","description":"Maximum number of displacement flows to return.","required":false,"example":25,"schema":{"type":"integer","format":"int32"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"dataAvailable":true,"fetchedAt":1717200000000,"summary":{"countries":[{"asylumSeekers":1,"code":"US","hostAsylumSeekers":1,"hostRefugees":1,"hostTotal":1,"idps":1}],"globalTotals":{"asylumSeekers":1,"idps":1,"refugees":1,"stateless":1,"total":1},"topFlows":[{"asylumCode":"US","asylumLocation":{"latitude":40.7128,"longitude":-74.006},"asylumName":"WorldMonitor Analyst","originCode":"US","originLocation":{"latitude":40.7128,"longitude":-74.006},"originName":"WorldMonitor Analyst","refugees":1}],"year":1}},"schema":{"$ref":"#/components/schemas/worldmonitor_displacement_v1_GetDisplacementSummaryResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/displacement/v1/get-population-exposure":{"get":{"tags":["DisplacementService"],"summary":"GetPopulationExposure","description":"GetPopulationExposure returns country population data or estimates population within a radius.","operationId":"GetPopulationExposure","parameters":[{"name":"mode","in":"query","description":"Mode: \"countries\" (default) or \"exposure\".","required":false,"example":"countries","schema":{"type":"string"}},{"name":"lat","in":"query","description":"Latitude (required for exposure mode).","required":false,"example":40.7128,"schema":{"type":"number","format":"double"}},{"name":"lon","in":"query","description":"Longitude (required for exposure mode).","required":false,"example":-74.006,"schema":{"type":"number","format":"double"}},{"name":"radius","in":"query","description":"Radius in km (required for exposure mode, defaults to 50).","required":false,"example":1.5,"schema":{"type":"number","format":"double"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"countries":[{"code":"US","densityPerKm2":1,"name":"WorldMonitor Analyst","population":1}],"exposure":{"densityPerKm2":1,"exposedPopulation":1,"exposureRadiusKm":1.5,"nearestCountry":"US"},"success":true},"schema":{"$ref":"#/components/schemas/worldmonitor_displacement_v1_GetPopulationExposureResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-fred-series":{"get":{"tags":["EconomicService"],"summary":"GetFredSeries","description":"GetFredSeries retrieves time series data from the Federal Reserve Economic Data.","operationId":"GetFredSeries","parameters":[{"name":"series_id","in":"query","description":"FRED series ID (e.g., \"GDP\", \"UNRATE\", \"CPIAUCSL\").","required":true,"example":"GDP","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of observations to return. Defaults to 120.","required":false,"example":25,"schema":{"type":"integer","format":"int32"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"series":{"frequency":"example","observations":[{"date":"2026-01-15","value":1.5}],"seriesId":"GDP","title":"example","units":"example"}},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetFredSeriesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/list-world-bank-indicators":{"get":{"tags":["EconomicService"],"summary":"ListWorldBankIndicators","description":"ListWorldBankIndicators retrieves development indicator data from the World Bank.","operationId":"ListWorldBankIndicators","parameters":[{"name":"indicator_code","in":"query","description":"World Bank indicator code (e.g., \"NY.GDP.MKTP.CD\").","required":true,"example":"NY.GDP.MKTP.CD","schema":{"type":"string"}},{"name":"country_code","in":"query","description":"Optional country filter (ISO 3166-1 alpha-2).","required":false,"example":"US","schema":{"type":"string"}},{"name":"year","in":"query","description":"Optional year filter. Defaults to latest available.","required":false,"example":1,"schema":{"type":"integer","format":"int32"}},{"$ref":"#/components/parameters/PagesizeParam4"},{"$ref":"#/components/parameters/CursorParam"},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"data":[{"countryCode":"US","countryName":"US","indicatorCode":"NY.GDP.MKTP.CD","indicatorName":"WorldMonitor Analyst","value":1.5,"year":1}],"pagination":{"nextCursor":"next-page-token","totalCount":1}},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_ListWorldBankIndicatorsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-energy-prices":{"get":{"tags":["EconomicService"],"summary":"GetEnergyPrices","description":"GetEnergyPrices retrieves current energy commodity prices from EIA.","operationId":"GetEnergyPrices","parameters":[{"name":"commodities","in":"query","description":"Optional commodity filter. Empty returns all tracked commodities.","required":false,"style":"form","explode":true,"example":["example"],"schema":{"type":"array","items":{"type":"string"}}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"prices":[{"change":1.5,"commodity":"example","name":"WorldMonitor Analyst","price":75.25,"priceAt":1717200000000,"unit":"example"}]},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetEnergyPricesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-macro-signals":{"get":{"tags":["EconomicService"],"summary":"GetMacroSignals","description":"GetMacroSignals computes 7 macro signals from 6 upstream sources with BUY/CASH verdict.","operationId":"GetMacroSignals","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"bullishCount":1,"meta":{"qqqSparkline":[1.5]},"signals":{"fearGreed":{"history":[{"date":"2026-01-15","value":1}],"status":"example","value":1},"flowStructure":{"btcReturn5":1.5,"qqqReturn5":1.5,"status":"example"},"hashRate":{"change30d":1.5,"status":"example"},"liquidity":{"sparkline":[1.5],"status":"example","value":1.5},"macroRegime":{"qqqRoc20":1.5,"status":"example","xlpRoc20":1.5}},"timestamp":"2026-01-15T12:00:00Z","totalCount":1},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetMacroSignalsResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-china-macro-snapshot":{"get":{"tags":["EconomicService"],"summary":"GetChinaMacroSnapshot","description":"GetChinaMacroSnapshot reads the normalized China macro and official release\n calendar seeds. It never fans out to upstream providers on a cache miss.","operationId":"GetChinaMacroSnapshot","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"contentObservationDate":"2026-01-15","countryCode":"US","generatedAt":"2026-01-15T12:00:00Z","indicators":[{"category":"cs.AI","comparisonBasis":"example","comparisonValue":1.5,"contextOnly":true,"direction":"example"}],"latestObservationDate":"40.7128"},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetChinaMacroSnapshotResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-china-activity-nowcast":{"get":{"tags":["EconomicService"],"summary":"GetChinaActivityNowcast","description":"GetChinaActivityNowcast compares the revision-aware official macro pulse\n with reviewed proxy families using a deterministic, no-lookahead method.","operationId":"GetChinaActivityNowcast","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"comparisonState":"example","generatedAt":"2026-01-15T12:00:00Z","methodVersion":"example","payloadJson":"example","upstreamUnavailable":false},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetChinaActivityNowcastResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-energy-capacity":{"get":{"tags":["EconomicService"],"summary":"GetEnergyCapacity","description":"GetEnergyCapacity retrieves installed capacity data (solar, wind, coal) from EIA.","operationId":"GetEnergyCapacity","parameters":[{"name":"energy_sources","in":"query","description":"Energy source codes to query (e.g., \"SUN\", \"WND\", \"COL\").\n Empty returns all tracked sources (SUN, WND, COL).","required":false,"style":"form","explode":true,"example":["example"],"schema":{"type":"array","items":{"type":"string"}}},{"name":"years","in":"query","description":"Number of years of historical data. Default 20 if not set.\n Accepted but currently ignored; no-op until this handler supports the parameter.","required":false,"example":1,"schema":{"type":"integer","format":"int32"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"series":[{"data":[{"capacityMw":1.5,"year":1}],"energySource":"example","name":"WorldMonitor Analyst"}]},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetEnergyCapacityResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-bis-policy-rates":{"get":{"tags":["EconomicService"],"summary":"GetBisPolicyRates","description":"GetBisPolicyRates retrieves central bank policy rates from BIS.","operationId":"GetBisPolicyRates","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"rates":[{"centralBank":"example","countryCode":"US","countryName":"US","date":"2026-01-15","previousRate":75.25}]},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetBisPolicyRatesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-bis-exchange-rates":{"get":{"tags":["EconomicService"],"summary":"GetBisExchangeRates","description":"GetBisExchangeRates retrieves effective exchange rates from BIS.","operationId":"GetBisExchangeRates","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"rates":[{"countryCode":"US","countryName":"US","date":"2026-01-15","nominalEer":1.5,"realChange":1.5}]},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetBisExchangeRatesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-bis-credit":{"get":{"tags":["EconomicService"],"summary":"GetBisCredit","description":"GetBisCredit retrieves credit-to-GDP ratio data from BIS.","operationId":"GetBisCredit","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"entries":[{"countryCode":"US","countryName":"US","creditGdpRatio":42.5,"date":"2026-01-15","previousRatio":42.5}]},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetBisCreditResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-fred-series-batch":{"post":{"parameters":[{"$ref":"#/components/parameters/IdempotencyKeyParam"}],"tags":["EconomicService"],"summary":"GetFredSeriesBatch","description":"GetFredSeriesBatch retrieves multiple FRED series in a single call.","operationId":"GetFredSeriesBatch","requestBody":{"content":{"application/json":{"example":{"limit":25,"seriesIds":["GDP"]},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetFredSeriesBatchRequest"}}},"required":true},"responses":{"200":{"description":"Successful response","headers":{"Idempotency-Key":{"$ref":"#/components/headers/IdempotencyKeyHeader"},"Idempotent-Replayed":{"$ref":"#/components/headers/IdempotentReplayedHeader"}},"content":{"application/json":{"example":{"fetched":1,"requested":1,"results":{"exampleKey":{"frequency":"example","observations":[{"date":"2026-01-15","value":1.5}],"seriesId":"GDP","title":"example","units":"example"}}},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetFredSeriesBatchResponse"}}}},"400":{"$ref":"#/components/responses/E400_2"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"409":{"$ref":"#/components/responses/E409"},"422":{"$ref":"#/components/responses/E422"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/list-grocery-basket-prices":{"get":{"tags":["EconomicService"],"summary":"ListGroceryBasketPrices","description":"ListGroceryBasketPrices retrieves grocery basket price comparison across 24 countries worldwide.","operationId":"ListGroceryBasketPrices","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"cheapestCountry":"US","countries":[{"code":"example","currency":"USD","flag":"example","fxRate":75.25,"items":[{"available":true,"currency":"USD","itemId":"example-id","itemName":"WorldMonitor Analyst","localPrice":75.25}]}],"fetchedAt":"2026-01-15T12:00:00Z","mostExpensiveCountry":"US","prevFetchedAt":"2026-01-15T12:00:00Z"},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_ListGroceryBasketPricesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/list-bigmac-prices":{"get":{"tags":["EconomicService"],"summary":"ListBigMacPrices","description":"ListBigMacPrices retrieves Big Mac Index prices across Middle East countries.","operationId":"ListBigMacPrices","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"cheapestCountry":"US","countries":[{"available":true,"code":"example","currency":"USD","flag":"example","fxRate":75.25}],"fetchedAt":"2026-01-15T12:00:00Z","mostExpensiveCountry":"US","prevFetchedAt":"2026-01-15T12:00:00Z"},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_ListBigMacPricesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-national-debt":{"get":{"tags":["EconomicService"],"summary":"GetNationalDebt","description":"GetNationalDebt retrieves national debt clock data for all countries. PRO-gated. Requires an active Pro subscription.","operationId":"GetNationalDebt","security":[{"WorldMonitorKey":[]},{"ApiKeyHeader":[]},{"BearerAuth":[]}],"parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"entries":[{"annualGrowth":1.5,"baselineTs":"1717200000000","debtToGdp":1.5,"debtUsd":1.5,"gdpUsd":1.5}],"seededAt":"2026-01-15T12:00:00Z","unavailable":false},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetNationalDebtResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403_2"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/list-fuel-prices":{"get":{"tags":["EconomicService"],"summary":"ListFuelPrices","description":"ListFuelPrices retrieves retail gasoline and diesel prices across 30+ countries.","operationId":"ListFuelPrices","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"cheapestDiesel":"example","cheapestGasoline":"example","countries":[{"code":"example","currency":"USD","diesel":{"available":true,"grade":"example","localPrice":75.25,"observedAt":"2026-01-15T12:00:00Z","source":"example"},"flag":"example","fxRate":75.25}],"countryCount":1,"fetchedAt":"2026-01-15T12:00:00Z"},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_ListFuelPricesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-bls-series":{"get":{"tags":["EconomicService"],"summary":"GetBlsSeries","description":"GetBlsSeries retrieves BLS-only series not available on FRED (CES, LAUMT, CIU).","operationId":"GetBlsSeries","parameters":[{"name":"series_id","in":"query","description":"BLS/FRED-backed series ID. Supported values: \"USPRIV\", \"ECIALLCIV\".","required":false,"example":"USPRIV","schema":{"type":"string","enum":["USPRIV","ECIALLCIV"]}},{"name":"limit","in":"query","description":"Maximum number of observations to return. Defaults to 60.","required":false,"example":25,"schema":{"type":"integer","format":"int32"}},{"$ref":"#/components/parameters/JmespathParam"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"series":{"observations":[{"period":"daily","periodName":"daily","value":"example","year":"example"}],"seriesId":"example-id","title":"example","units":"example"}},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetBlsSeriesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-economic-calendar":{"get":{"tags":["EconomicService"],"summary":"GetEconomicCalendar","description":"GetEconomicCalendar retrieves upcoming major economic events (FOMC, CPI, NFP, etc).","operationId":"GetEconomicCalendar","parameters":[{"$ref":"#/components/parameters/FromDateParam"},{"$ref":"#/components/parameters/ToDateParam"},{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"events":[{"actual":"example","country":"US","date":"2026-01-15","estimate":"example","event":"example"}],"fromDate":"2026-01-15","toDate":"2026-01-15","total":1,"unavailable":false},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetEconomicCalendarResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-crude-inventories":{"get":{"tags":["EconomicService"],"summary":"GetCrudeInventories","description":"GetCrudeInventories retrieves the 8 most recent weeks of US crude oil stockpile data from EIA (WCRSTUS1).","operationId":"GetCrudeInventories","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"latestPeriod":"40.7128","weeks":[{"period":"daily","stocksMb":1.5,"weeklyChangeMb":1.5}]},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetCrudeInventoriesResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-nat-gas-storage":{"get":{"tags":["EconomicService"],"summary":"GetNatGasStorage","description":"GetNatGasStorage retrieves the 8 most recent weeks of US natural gas working gas storage from EIA (NW2_EPG0_SWO_R48_BCF).","operationId":"GetNatGasStorage","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned (mirrors the MCP jmespath argument). Invalid expressions, expressions larger than 1024 UTF-8 bytes, or projections that exceed the 256 KB output cap return HTTP 400 with a {_jmespath_error, original_keys} envelope. Grammar and worked examples: https://www.worldmonitor.app/docs/mcp-jmespath.","required":false,"example":"keys(@)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"latestPeriod":"40.7128","weeks":[{"period":"daily","storBcf":1.5,"weeklyChangeBcf":1.5}]},"schema":{"$ref":"#/components/schemas/worldmonitor_economic_v1_GetNatGasStorageResponse"}}}},"400":{"$ref":"#/components/responses/E400"},"401":{"$ref":"#/components/responses/E401"},"403":{"$ref":"#/components/responses/E403"},"429":{"$ref":"#/components/responses/E429"},"503":{"$ref":"#/components/responses/E503"},"default":{"$ref":"#/components/responses/EDEF"}}}},"/api/economic/v1/get-ecb-fx-rates":{"get":{"tags":["EconomicService"],"summary":"GetEcbFxRates","description":"GetEcbFxRates retrieves daily ECB official reference rates for EUR/major currency pairs.","operationId":"GetEcbFxRates","parameters":[{"name":"jmespath","in":"query","description":"Optional JMESPath expression applied server-side to project or reduce the JSON response before it is returned 
[...]
